<!DOCTYPE html>
<html>

<head>
    <title>Add Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">
        <h2>Add Brand</h2>

        <div>
            <a href="/admin/brands" class="btn">Back to Brands</a>
            <a href="/admin/dashboard" class="btn">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>

    <div class="form-container">

        <h2>Add New Brand</h2>

        <form method="POST">

            <input type="text" name="brand_name" placeholder="Brand Name" required>

            <label>Category</label>
            <select name="category_id" required>
                <option value="">Select Category</option>
                {% for category in categories %}
                <option value="{{ category._id }}">{{ category.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="submit-btn">
                Add Brand
            </button>

        </form>

    </div>

</body>

</html>
