<!DOCTYPE html>
<html>

<head>
    <title>Edit Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">
        <h2>Edit Model</h2>

        <div>
            <a href="/admin/models" class="btn">Back to Models</a>
            <a href="/admin/dashboard" class="btn">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>

    <div class="form-container">

        <h2>Edit Model</h2>

        <form method="POST">

            <select name="category_id" required>
                <option value="">Select Category</option>
                {% for category in categories %}
                <option value="{{ category._id }}" {% if category._id == model.category_id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>

            <input type="text" name="model_name" value="{{ model.name }}" required>

            <button type="submit" class="submit-btn">
                Update Model
            </button>

        </form>

    </div>

</body>

</html>
